streamlit
pandas
numpy
matplotlib
chardet
pdfplumber
statsmodels
scikit-learn
prophet
plotly
razorpay
python-dotenv
psycopg2-binary
sqlalchemy
boto3
PyJWT
streamlit-javascript
requests
json5
mysql-connector-python
setuptools
